<% if @pages.blank? %>
	<h3>No pages have been added yet.</h3>
<% else %>
	<div class="module_list">
		<div class="module_actions">
			<h2>Pages</h2>
			<div class="action_items">
				<%= link_to new_admin_page_path do %>
					<p><span class="glyphicon glyphicon-plus"></span></p>
				<% end %>
			</div>
			<div class="clearboth"></div>
		</div>
		<% for page in @pages %>
			<div class="module_item">
				<div class="item_name">
					<%= page.name %>
				</div>
				<div class="module_item_actions">
					<p>
						<a href="">
							<span class="glyphicon glyphicon-ok <%= page.published == true ? '' : 'dead' %>"></span>
						</a>
						<%= link_to :action => "edit", :id => page do %>
							<span class="glyphicon glyphicon-edit"></span>
						<% end %>
						<a href="">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
						<a href="">
							Order
						</a>
					</p>
				</div>
			</div>
		<% end %>
	</div>
<% end %>