.admin_content {
	margin-top: 50px;
	.container {
		.module_list {
			padding:20px;
			.module_actions {
				padding:10px;
				background: #eee;
				text-align: right;
				clear:both;
				border-radius: 10px;
				h2 {
					float:left;
					margin:0px;
				}
				.action_items {
					float:right;
				}
			}
			.module_item {
				padding:10px;
				border-bottom: 1px solid #ddd;
			}
		}
	}
}