<div class="module_list">
	<div class="module_actions">
		<h2>CMS Sections</h2>
		<!-- <div class="action_items">
			<%= link_to new_admin_page_path do %>
				<p><span class="glyphicon glyphicon-plus"></span></p>
			<% end %>
		</div> -->
		<div class="clearboth"></div>
	</div>
	<div class="module_partial">
		<div class="module_item">
			<div class="item_name">
				<%= link_to "Pages", "/admin/pages" %>
			</div>
			<div class="module_item_actions">
				<p>
					
				</p>
			</div>
			<div class="clearboth"></div>
		</div>
		<div class="module_item">
			<div class="item_name">
				<%= link_to "Posts", "/admin/posts" %>
			</div>
			<div class="module_item_actions">
				<p>
					
				</p>
			</div>
			<div class="clearboth"></div>
		</div>
		<div class="module_item">
			<div class="item_name">
				<%= link_to "Users", "/admin/users" %>
			</div>
			<div class="module_item_actions">
				<p>
					
				</p>
			</div>
			<div class="clearboth"></div>
		</div>
	</div>
</div>
