<div class="module_list">
	<div class="module_actions">
		<h2>Pages</h2>
		<div class="action_items">
			<%= link_to :action => 'new' do %>
				<p><span class="glyphicon glyphicon-plus"></span></p>
			<% end %>
		</div>
		<div class="clearboth"></div>
	</div>
	<div class="module_partial">
		<% if @parent_items.blank? %>
			<h3>No pages have been added yet.</h3>
		<% else %>
			<%= render :partial => 'list' %>
		<% end %>
	</div>
	<%= will_paginate @parent_items, renderer: BootstrapPagination::Rails %>
</div>