<div class="module_list">
	<div class="module_actions">
		<h2>Posts</h2>
		<div class="action_items">
			<%= link_to new_admin_post_path do %>
				<p><span class="glyphicon glyphicon-plus"></span></p>
			<% end %>
		</div>
		<div class="clearboth"></div>
	</div>
	<% unless @posts.blank? %>
		<% for post in @posts %>
			<div class="module_item">
				<div class="item_name">
					<%= post.title %>
				</div>
				<div class="module_item_actions">
					<p>
						<a href="">
							<span class="glyphicon glyphicon-ok <%= post.published == true ? '' : 'dead' %>"></span>
						</a>
						<%= link_to :action => "edit", :id => post do %>
							<span class="glyphicon glyphicon-edit"></span>
						<% end %>
						<a href="">
							<span class="glyphicon glyphicon-trash"></span>
						</a>
						<a href="">
							Order
						</a>
					</p>
				</div>
			</div>
		<% end %>
	<% end %>
</div>