<% for user in @users %>
  <div class="module_item">
    <div class="item_name">
      <%= link_to user.email, :controller => 'admin/users', :action => 'edit', :id => user.id %>
    </div>
    <div class="module_item_actions">
      <p>
        <%= link_to :action => "edit", :id => user do %>
          <span class="glyphicon glyphicon-edit"></span>
        <% end %>
        <%= link_to(url_for(:controller => 'admin/users', :action => 'destroy', :user_id => user.id), :format => :js, :remote => true, data: { confirm: 'Are you sure?' }) do %>
          <span class="glyphicon glyphicon-trash"></span>
        <% end %>
      </p>
    </div>
  </div>
<% end %>