<div class="module_list">
  <div class="module_actions">
    <h2>Users</h2>
    <div class="action_items">
      <%= link_to new_admin_user_path do %>
        <p><span class="glyphicon glyphicon-plus"></span></p>
      <% end %>
    </div>
    <div class="clearboth"></div>
  </div>
  <% unless @users.blank? %>
    <div class="module_partial">
      <%= render :partial => 'admin/users/list' %>
    </div>
  <% end %>
  <%= will_paginate @users, renderer: BootstrapPagination::Rails %>
</div>