<!-- Banner Modules -->
<% content_for :banner_top do %>
	<div class="red home_banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="logo">
						<%= image_tag('rails_logo.png') %>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="feature_text">
						<h1>Ruby on Rails</h1>
						<h2>Workshop</h2>
						<h3>El Paso, TX</h3>
						<h4>Coming In November</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<% content_for :banner_bottom do %>
	<div class="blue instructors">
		<div class="container">
			<h2>Instructors</h2>
		</div>
	</div>
<% end %>



<!-- Center Modules -->
<% content_for :page_top do %>
<% end %>

<% content_for :page_bottom do %>
<% end %>

<% content_for :after_posts do %>
<% end %>



<!-- Side Modules -->
<% content_for :side_left do %>
<% end %>

<% content_for :side_right do %>
<% end %>