<!-- Banner Modules -->
<% content_for :banner_top do %>
	<div class="red home_banner">
		<div class="container">
			<div class="row">
				<div class="col-sm-6">
					<div class="logo">
						<%= image_tag('rails_logo.png') %>
					</div>
				</div>
				<div class="col-sm-6">
					<div class="feature_text">
						<h1>Ruby on Rails</h1>
						<h2>Workshop</h2>
						<h3>El Paso, TX</h3>
						<h4>November 8th, 2014</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
<% end %>

<% content_for :banner_bottom do %>
	<div class="blue instructors">
		<div class="container">
			<h2 class="text-left heading">Leaders <small>more to be announced</small></h2>
			<div class="row">
				<div class="col-sm-6 instructor">
					<div class="photo">
						<%= image_tag('brandon.jpg') %>
					</div>
					<h3>Brandon Silverstein</h3>
					<h4>Partner at <a title="El Paso Web Design" href="http://vivaimpulse.com">Viva + Impulse Creative Co.</a></h4>
				</div>
				<div class="col-sm-6 instructor">
					<div class="photo">
						<%= image_tag('hunt.jpg') %>
					</div>
					<h3>Hunt Burdick</h3>
					<h4>Developer at <a title="El Paso Web Design" href="http://vivaimpulse.com">Viva + Impulse Creative Co.</a></h4>
				</div>
			</div>
		</div>
	</div>
<% end %>



<!-- Center Modules -->
<% content_for :page_top do %>
<% end %>

<% content_for :page_bottom do %>
<% end %>

<% content_for :after_posts do %>
<% end %>



<!-- Side Modules -->
<% content_for :side_left do %>
<% end %>

<% content_for :side_right do %>
<% end %>